<h2>Maps</h2>

<div class="maps">
<ul>
  <% @factorio_maps.each do |m| %>
    <li><%=link_to m.name, m %></li>
  <%end%>
</ul>
</div>
<div class="upload">
  <h1>Upload a map</h1>
  <!-- How does this know to call create? -->
  <!-- Rails knows this is a newly created factorio_map and routes it accordingly -->
  <!-- Thanks Robin -->
  <%= form_for @factorio_map do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name %>
    <%=f.file_field :zip %>
    <%=f.submit %>
  <%end%>
</div>
