<h2>Maps</h2>

<div class="maps">
<ul>
  <% @factorio_maps.each do |m| %>
    <li><%=link_to m.name, m %></li>
  <%end%>
</ul>
</div>
<div class="upload">
  <!-- How does this know to call create? -->
  <%= form_for @factorio_map do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name %>
    <%=f.submit %>
  <%end%>
</div>
