<h2><%=@factorio_map.name%></h2>
<h2>Comments</h2>
<%@factorio_map.comments.each do |c|%>
  <div class="map_comment">
    <%=c.comment_text%>
  </div>
<%end%>
<%=link_to "Comment", new_factorio_map_comment_path(@factorio_map)%>
<%=link_to "Delete", @factorio_map, method: :delete %>
<%=link_to "Edit", edit_factorio_map_path %>
